body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.header-address {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
}
.order-section {
    width: 1440px;
    height: 600px;
    top: 72px;
    background-color: #2E2F42;
}
.order-button {
    color: #FFFFFF;
    background-color: #4D5AE5;
}
.order-page-title {
    font-weight: 700;
    font-size: 56px;
    color: #FFFFFF;   
}
.title {
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42
}
p {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
}
.team-section {
    background-color: #F4F4FD;
}
.footer-section {
    width: 1440px; 
    height: 312px; 
    top: 2988px;
    background-color: #2E2F42;
}
.footer-text {
    width: 264px; 
    height: 72px; 
    top: 3128px; 
    left: 156px;
    line-height: 24px;
    color: #F4F4FD;
}